<div class="container" style="text-align:center">
  <div class="row" style="text-align:center">
    <div class="col-md-12" style="font-size:22px">My Playlist</div>
    <br><br><br><br>
  </div>
  <div class="row" style="text-align:center" >
    <div *ngFor="let blog of tracks" class="col-md-4">

      <div class="panel panel-default">
        <div class="panel-heading">{{blog.name| uppercase}}</div>
        <div class="panel-body">  
          <p><input type="text" [(ngModel)]="blog.comment"></p>
          <!-- <p>{{blog.comment}}</p> -->
        </div>
        <!--try-->
        <!-- <div class="panel-body">  
          <p>{{blog.id}}</p>
        </div> -->

        <div class="panel-footer"><br /> 
          <a [routerLink]="['/updatetrack',blog.id]" class="btn btn-info">Update</a>
          <a [routerLink]="['/deletetrack',blog.id]" class="btn btn-danger">Delete</a>
        </div>
      </div>
    
      <br />
    </div>

  </div>

</div>